body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root, #grommet {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

button {
  touch-action: manipulation;
}

#square-payment-form {
  width: 100%;
}

.sq-creditcard {
  border-radius: 20px!important;
  background-color: #3D6EB5!important;
  padding: 8px 32px!important;
  border: 2px solid #3D6EB5!important;
  font-size: 22px!important;
  line-height: 28px!important;
  height: inherit!important;
  font-weight: 500!important;
}
